<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/">DigWal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">

        <% if(user) {%>
          <a class="nav-item nav-link" href="/">home</a>
          <a class="nav-item nav-link" href="/dashboard">dashboard</a>
          <a class="nav-item nav-link" href="/historico">historico</a>
          <a class="nav-item nav-link" href="/logout">Logout</a>

        <% } else { %>

          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Registrar</a>
        <% } %>

      </div>
    </div>
  </nav>